* {
  box-sizing: border-box;
}

/**시작 페이지**/

.intro {
  border: 1px solid lightgray;
  width: 400px;
  padding: 10px 0;
  margin: 250px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hi {
  width: 220px;
  height: 60px;
  font-weight: bold;
  font-size: 30px;
  background-color: lavender;
  text-align: center;
  padding-top: 6px;
}
li {
  list-style: none;
  padding-bottom: 10px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: hsl(269, 100%, 82%);
}
.banner {
  width: 100px;
}

/**이경진**/

/**home 배너**/
.me-home {
  margin-left: 30px;
  margin-top: 30px;
}
header {
  width: 1500px;
  display: flex;
  flex-direction: row;
  position: relative;
}
a.banner-link {
  margin-top: 30px;
  margin-left: 50px;
}
#me-page {
  position: absolute;
  right: 450px;
}
#favorite-page {
  position: absolute;
  right: 250px;
}
#tmi-page {
  position: absolute;
  right: 150px;
}
#contact-page {
  position: absolute;
  right: 0;
}
/**전체**/
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/**본문**/

/**본문시작**/
.me {
  border-bottom: 2px solid hsl(269, 100%, 82%);
  width: 150px;
  margin-top: 90px;
  margin-left: 90px;
}

/**본문내용**/
.my-container {
  border: 2px solid rgba(207, 163, 255, 0);
  border-right: none;
  width: 450px;
  margin-left: 200px;
}
.introduce {
  font-weight: 530;
  margin: 30px 0;
}

/**사진**/

.my-img {
  width: 500px;
  height: 500px;
  position: relative;
}

.inner img {
  width: 300px;
  height: 400px;
  position: relative;
  top: 10px;
  left: -10px;
}

/**Tmi**/
/**.boo i{
    font-size: 50px;
}
.hippoboo{
    width: 200px;
    margin-top: 20px;
    margin-left: 350px;
    margin-bottom: -20px;
}
.Boo{
    position: relative;
    right: 45px;
    bottom: 13px;
}
.tmi .hippoboo{
    position: absolute;
}**/

/**본문**/
/**제목**/
.tmi {
  border-bottom: 2px solid hsl(269, 100%, 82%);
  width: 300px;
  margin-top: 50px;
  margin-left: 90px;
  position: relative;
}
.tmi i:hover {
  color: hsl(269, 100%, 82%);
}

.hippoboo {
  transition: opacity 0.3s ease-in-out;
}

.tmi .boo:hover {
  opacity: 100% !important;
}
